ul {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
}


li {
    flex: 1 0 30%;
    padding: 20 40;
    color: black;
    background-color: #7c8a2e;
    font-family: sans-serif;
    cursor: pointer;
    transition-duration: 333ms;
}

li:hover {
  padding: 15px 20px;
  background: #a6b457;
  transform: translateY(-5px);
}

.zamestnanec img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.zamestnanec img {
  width: 300px;
  height: 300px ;
  object-fit: cover;
}
.zamestnanec img {
  width: 300px;
  height: 300px ;
  object-fit: cover;
}
.zamestnanec img {
  width: 300px;
  height: 300px ;
  object-fit: cover;
}
.zamestnanec img {
  width: 300px
  height: 300px ;
  object-fit: cover;
}
.nas_tym {
  width: 100%;
  overflow: hidden;
}